h1, h3, h4, h5, h5 {
    color: #008000;
}

b { color:#502000; }
i { color:#006000; }

h2 {
    color: #A00000;
}

h3 {
    color:#600000;
}

#a:link    { text-decoration: none; color: blue; }
#a:visited { text-decoration: none; color: blue; }
a:hover   { text-decoration: underline; color: red; }
a:active  { text-decoration: underline; background-color: #FFD0D0; }
